@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Outline&family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');



html {
    height: 100%;
    width: 100%;
}

body {
    /* display: flex;
    justify-content: center;*/
    background-color: blueviolet; 
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

h1{
    text-align: center;
 

}

.screen {
    border: 3px solid black;
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4fef4;
    box-shadow: 0px 0px 35px 15px rgba(255, 250, 232, 0.5);
    
}

.screen-text {
    font-family: 'Press Start 2P';
    font-size: 16px;

}

.ui-text {
    font-family: 'Silkscreen';
    font-size: 11px;
    padding-top: 8px;
    text-shadow: 0px 5px 22px 22px white;
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;

}

/* Container contains entire drum machine */

.container {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 125px 1fr 1fr 1fr 1fr;
    text-align: center;
    border: 5px solid black;
    width: 600px;
    height: 500px;
    background-color: rgba(164, 151, 164, 0.9);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);

}

.container > .header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    height: auto;
    width: 600px;
}



.container > .pad-container {
    display: inline-flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-end: 6;
    height: 100%;
    width: auto;
  
}


/* Pad Group Parent */

.pad-container > .pad-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    width: auto;
    font-family: 'Helvetica';
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 8px;
  
    

}

.container > .brand-text {
    color:rgba(0, 0, 0, 0.5);
    font-family: 'Bungee';
    font-size: 12px;
    white-space: nowrap;
    margin-top: 120px;
    margin-bottom: 16px;
    padding-left: 100px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;


}

.pad-group > .pad {
    display: flex;
    width: 85px;
    height: 85px;
    border: 3px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    margin: 5px;
   
    

}

.pad-group > .pad-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #E8ECFB;
    
}

.pad-group > .pad-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #B997C7;
    
}
.pad-group > .pad-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #824D99;
    
}
.pad-group > .pad-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #4D78C3;
    
}
.pad-group > .pad-5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #56A2AC ;
    
}
.pad-group > .pad-6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #7EB775;
}
.pad-group > .pad-7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color:#CD2120;
    
}
.pad-group > .pad-8 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #E57F33;
    
}
.pad-group > .pad-9 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #D0B541
    
}

.child {
    border: 2px solid black;
}

.container > .nav {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
    font-family: 'VT323', monospace;
    box-shadow: 0px 0px 1px 1px black;
    width: 100%;
    

}

.nav > .reset {
    grid-row-start: 5;
    height: 1fr;
    
    
}

.volume > .slider {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 15px;
}

.volume > .nav-text {
    margin-top: 10px;
    font-size: 10px;
}

.nav > .replay {
    grid-row-start: 4;
    grid-column-start: 1;
    height: 1fr;
}

.nav > .score {
    grid-row-start: 2;
    grid-column-start: 1;
    height: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.score > .score-box {
    border: 3px solid black;
    height: 25px;
    width: 75px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4fef4;
    font-family: 'Silkscreen';
    font-size: 20px;
    text-shadow: 0px 0px 22px 22px black;
    box-shadow: 0px 0px 20px 10px rgba(255, 250, 232, 0.3);
}

.nav > .lives {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    height: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lives > .score-box {
    border: 3px solid black;
    height: 25px;
    width: 75px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    background-color: #f4fef4;
    font-family: 'Silkscreen';
    font-size: 20px;
    text-shadow: 0px 0px 22px 22px black;
    box-shadow: 0px 0px 20px 10px rgba(255, 250, 232, 0.2);
}


.nav > .start-game {
    display: inline-block;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 1fr;
}
.btn {
    margin-top: 3%;
    padding: 3px;
    font-family: 'Silkscreen';
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10%;
    text-shadow: 0px 0px 22px 22px black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    font-size: 10px;

}


span {
    opacity: 0;
    transition: all .7s step-end;
}

span.fade {
    opacity: 1;
}

